{% extends 'base.html.twig' %}

{% block title %}Edit task{% endblock %}

{% block body %}
<form method="post" class="block">


    <h1 class="h3 mb-3 font-weight-normal">Edit task</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputStart">Start date</label>
                <input type="datetime-local" value="{{ task.start }}" name="start" id="inputStart" class="form-control" autocomplete="start" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputEnd">End date</label>
                <input type="datetime-local" value="{{ task.end }}" name="end" id="inputEnd" class="form-control" autocomplete="end" required>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea type="text" name="description" id="inputDescription" class="form-control" autocomplete="start" required placeholder="Input description..">{{ task.description }}</textarea>
    </div>

    <div class="form-group">
        <label for="inputReason">Reason</label>
        <div class="form-group">
            <label for="inputReason">Reason</label>
            <input name="reason" id="inputReason" class="form-control" autocomplete="reason" required type="search" placeholder="Input reason" value="{{ task.reason }}">
        </div>
    </div>

    <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
    >

    <div class="form-group mt-5">
        <button class="btn btn-lg btn-primary" type="submit">
            Edit task
        </button>
    </div>
</form>
{% endblock %}
